  <div id="box" class="app-sidebar-fixed app-navbar-fixed ">
    <sidebar></sidebar>
    <div class="app-content">
      <!-- top navbar -->
      <top-navbar></top-navbar>
      <!-- / top navbar -->
      <!-- main content -->
      <div  class="main-content">
        <div class="wrap-content container">
         <breadcrumb></breadcrumb>
         <div class="container-fluid container-fullw">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-white">
                <div class="panel-body">
                  <slot></slot>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / main content -->
</div>
<!-- <chatbox api="http://demo1429768.mockable.io/messages"></chatbox> -->
</div>
